name: "Build"
on:
  push:
  pull_request:

jobs:
  gradle-build:
    name: "Build Gradle project"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v6
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew build
      - name: Capture Gradle build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gradle-build-artifacts
          path: "build/libs/*.jar"
